In [1]:
!wget https://techassessment.blob.core.windows.net/aiap19-group-exercise-data/price.db

--2025-01-18 08:37:07--  https://techassessment.blob.core.windows.net/aiap19-group-exercise-data/price.db
Resolving techassessment.blob.core.windows.net (techassessment.blob.core.windows.net)... 20.150.28.132
Connecting to techassessment.blob.core.windows.net (techassessment.blob.core.windows.net)|20.150.28.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1695744 (1.6M) [application/octet-stream]
Saving to: ‘price.db’

price.db            100%[===================>]   1.62M  --.-KB/s    in 0.09s

2025-01-18 08:37:07 (18.2 MB/s) - ‘price.db’ saved [1695744/1695744]

In [2]:
import pandas as pd
import numpy as np
import sqlite3

In [3]:
# Path to database file
db_file = "price.db"

# Connect to the SQLite database
conn = sqlite3.connect(db_file)

# List all tables (optional, to see what's inside the database)
query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql(query, conn)
print(tables)

         name
0  vegetables

In [4]:
table_name = "vegetables"  # Change this after identifying the table
data_query = f"SELECT * FROM {table_name}"
df = pd.read_sql(data_query, conn)
df

          SN  Commodity Unit                 Date  Wholesale Market Prices
0          0   Zucchini   Kg  2016-06-16 00:00:00                     37.5
1          1   Zucchini   Kg  2016-06-16 00:00:00                     29.0
2          2  Artichoke   Kg  2016-06-16 00:00:00                     20.5
3          3  Artichoke   Kg  2016-06-16 00:00:00                     15.5
4          4       Kale   Kg  2016-06-16 00:00:00                     29.0
...      ...        ...  ...                  ...                      ...
35056  88578   Celeriac   Kg  2020-03-10 00:00:00                    275.0
35057  88579   Celeriac   Kg  2020-03-10 00:00:00                     67.5
35058  88580    Salsify   Kg  2020-03-10 00:00:00                     67.5
35059  88581    Chayote   Kg  2020-03-10 00:00:00                     55.0
35060  88583    Chayote   Kg  2020-03-10 00:00:00                    305.0

[35061 rows x 5 columns]